# packages in environment at /Users/ehudahan/opt/anaconda3/envs/iml.env:
#
# Name                    Version                   Build  Channel
numpy                     1.19.2           py37h456fd55_0
numpy-base                1.19.2           py37hcfb5961_0  
pandas                    1.2.3            py37hb2f4e1b_0
pip                       21.0.1           py37hecd8cb5_0
plotly                    4.14.3             pyhd3eb1b0_0  
scikit-learn              0.24.1           py37hb2f4e1b_0
scipy                     1.6.1            py37h2515648_0  
seaborn                   0.11.1             pyhd3eb1b0_0  
tensorflow                2.0.0           mkl_py37hda344b4_0